$background-default: '../../assets/images/backgrounds/bg-1920-01.jpg';
$background-variant-01: '../../assets/images/backgrounds/business-5475664_1920.jpg';
$background-variant-02: '../../assets/images/backgrounds/shares-5279686_1920.jpg';
$background-variant-03: '../../assets/images/backgrounds/trading-643723_1920.jpg';

$svg-sidebar-livedata-logo: 'public/image/svg/coin-trend-blur.svg';
$svg-sidebar-livedata-logo-2: 'public/image/svg/coin-trend-red.svg';
$svg-sidebar-livedata-circle: 'public/image/svg/timer-circle-01.svg';