// ==========================================================
// = Strukturvariablen für Sidebar-Position und Breiten =====
// ==========================================================
// Diese Datei kombiniert zentrale Layoutvariablen
// für die Positionierung und Breite von Sidebars,
// unter Verwendung von breakpoints, spacing und config-Werten.

@use "sass:map";
@use "../abstracts/breakpoints"as wbx_breakpoints;
@use "../abstracts/layout-spacing"as layout_spacing;
@use "../abstracts/layout-config"as layout_config;

// === Aktiver Breakpoint für Sidebar-Einblendung ============
$sidebar-display-breakpoint: map.get(wbx_breakpoints.$wbx-breakpoints, "ultra-lg");

// === Vertikale Positionierung ==============================
$sidebar-top: layout_spacing.$layout-sidebar-top;
$sidebar-inner-gap: 2.8rem;

// === Breitenangaben für Sidebars (abhängig vom Breakpoint) =
$sidebar-width-xxl: 300px;
$sidebar-width-ultra-md: 250px;

// === Abstand links vom Containerrand =======================
$sidebar-spacing-gap-left-xxl: 15px;
$sidebar-spacing-gap-left-ultra-md: 10px;

// === Feinjustierung für exakte Ausrichtung ================
$sidebar-fine-tune-offset-xxl: 7px;
$sidebar-fine-tune-offset-ultra-md: 7px;

// === Berechnung rechter Offset für zentrierte Sidebars =====
// Ziel: Sidebar rechtsbündig an Containerkante plus Abstand
$sidebar-right-xxl: calc((100vw - layout_config.$breakpoint-container-xxl) / 2 - $sidebar-width-xxl - $sidebar-spacing-gap-left-xxl - $sidebar-fine-tune-offset-xxl);
$sidebar-right-ulta-md: calc((100vw - layout_config.$breakpoint-container-ultra-md) / 2 - $sidebar-width-ultra-md - $sidebar-spacing-gap-left-ultra-md - $sidebar-fine-tune-offset-ultra-md)