*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main,
header,
footer,
section,
article,
aside,
nav {
  display: block;
  margin: 0;
  padding: 0;
}

.wbx-layout-container {
  --wbx-gutter-x: 1.5rem;
  --wbx-gutter-y: 0;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .wbx-layout-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wbx-layout-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wbx-layout-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wbx-layout-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wbx-layout-container {
    max-width: 1320px;
  }
}

.obj-hide {
  display: none;
}

.obj-show {
  display: block;
}

.obj-hide-imp {
  display: none !important;
}

.obj-show-imp {
  display: block !important;
}

.justify-until--lg-center {
  justify-content: center;
}
@media (min-width: 992px) {
  .justify-until--lg-center {
    justify-content: flex-start;
  }
}

.is-absolute {
  position: absolute !important;
}

.is-fixed {
  position: fixed !important;
}

.text-small {
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  word-spacing: 0.15rem;
  white-space: nowrap;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 3px solid transparent;
  padding-bottom: 0.2rem;
  transition: color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 3px solid transparent;
  padding-bottom: 0.2rem;
}

.navbar-dark .nav-link.active {
  color: turquoise;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.2rem;
}

@media (min-width: 0px) {
  .col--1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--24, .card-wrapper-xl-8, .card-wrapper-xl-6, .card-wrapper-lg-8, .card-wrapper-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .col--sm-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--sm-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--sm-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--sm-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--sm-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--sm-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--sm-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--sm-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--sm-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--sm-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--sm-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--sm-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--sm-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--sm-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--sm-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--sm-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--sm-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--sm-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--sm-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--sm-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--sm-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--sm-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--sm-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--sm-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col--md-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--md-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--md-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--md-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--md-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--md-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--md-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--md-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--md-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--md-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--md-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--md-12, .card-wrapper-xl-8, .card-wrapper-xl-6, .card-wrapper-lg-8, .card-wrapper-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--md-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--md-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--md-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--md-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--md-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--md-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--md-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--md-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--md-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--md-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--md-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--md-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col--lg-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--lg-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--lg-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--lg-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--lg-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--lg-6, .card-wrapper-lg-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--lg-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--lg-8, .card-wrapper-lg-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--lg-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--lg-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--lg-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--lg-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--lg-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--lg-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--lg-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--lg-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--lg-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--lg-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--lg-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--lg-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--lg-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--lg-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col--xl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--xl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--xl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--xl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--xl-6, .card-wrapper-xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--xl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--xl-8, .card-wrapper-xl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--xl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--xl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--xl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--xl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--xl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--xl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--xl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--xl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--xl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--xl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .col--xxl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--xxl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--xxl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--xxl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--xxl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--xxl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--xxl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--xxl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--xxl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--xxl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--xxl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--xxl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--xxl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--xxl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--xxl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--xxl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--xxl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--xxl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--xxl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--xxl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--xxl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--xxl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--xxl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--xxl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1600px) {
  .col--ultra-md-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-md-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-md-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-md-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-md-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-md-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-md-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-md-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-md-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-md-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-md-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-md-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-md-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-md-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-md-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-md-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-md-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-md-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-md-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-md-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-md-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-md-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-md-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 2000px) {
  .col--ultra-lg-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-lg-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-lg-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-lg-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-lg-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-lg-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-lg-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-lg-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-lg-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-lg-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-lg-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-lg-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-lg-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-lg-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-lg-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-lg-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-lg-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-lg-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-lg-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-lg-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-lg-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-lg-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-lg-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-lg-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 2500px) {
  .col--ultra-xl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-xl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-xl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-xl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-xl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-xl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-xl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-xl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-xl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-xl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-xl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-xl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-xl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-xl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-xl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-xl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 3000px) {
  .col--ultra-xxl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-xxl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-xxl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-xxl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-xxl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-xxl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-xxl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-xxl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-xxl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-xxl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-xxl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-xxl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-xxl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-xxl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-xxl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-xxl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-xxl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-xxl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-xxl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-xxl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-xxl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-xxl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-xxl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-xxl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 4000px) {
  .col--ultra-3xl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-3xl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-3xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-3xl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-3xl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-3xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-3xl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-3xl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-3xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-3xl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-3xl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-3xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-3xl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-3xl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-3xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-3xl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-3xl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-3xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-3xl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-3xl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-3xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-3xl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-3xl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-3xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 5000px) {
  .col--ultra-4xl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-4xl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-4xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-4xl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-4xl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-4xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-4xl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-4xl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-4xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-4xl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-4xl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-4xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-4xl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-4xl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-4xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-4xl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-4xl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-4xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-4xl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-4xl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-4xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-4xl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-4xl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-4xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 6000px) {
  .col--ultra-5xl-1 {
    flex: 0 0 4.1666666667%;
    max-width: 4.1666666667%;
  }
  .col--ultra-5xl-2 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col--ultra-5xl-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col--ultra-5xl-4 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col--ultra-5xl-5 {
    flex: 0 0 20.8333333333%;
    max-width: 20.8333333333%;
  }
  .col--ultra-5xl-6 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col--ultra-5xl-7 {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
  .col--ultra-5xl-8 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col--ultra-5xl-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .col--ultra-5xl-10 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col--ultra-5xl-11 {
    flex: 0 0 45.8333333333%;
    max-width: 45.8333333333%;
  }
  .col--ultra-5xl-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col--ultra-5xl-13 {
    flex: 0 0 54.1666666667%;
    max-width: 54.1666666667%;
  }
  .col--ultra-5xl-14 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col--ultra-5xl-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .col--ultra-5xl-16 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col--ultra-5xl-17 {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
  .col--ultra-5xl-18 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col--ultra-5xl-19 {
    flex: 0 0 79.1666666667%;
    max-width: 79.1666666667%;
  }
  .col--ultra-5xl-20 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col--ultra-5xl-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .col--ultra-5xl-22 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col--ultra-5xl-23 {
    flex: 0 0 95.8333333333%;
    max-width: 95.8333333333%;
  }
  .col--ultra-5xl-24 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.background-image-file-default {
  background-image: url("../../assets/images/backgrounds/bg-1920-01.jpg");
}

.background-image-file-variant-01 {
  background-image: url("../../assets/images/backgrounds/business-5475664_1920.jpg");
}

.background-image-file-variant-02 {
  background-image: url("../../assets/images/backgrounds/shares-5279686_1920.jpg");
}

.background-image-file-variant-03 {
  background-image: url("../../assets/images/backgrounds/trading-643723_1920.jpg");
}

.layout-content {
  display: grid;
  grid-template-areas: "navigation" "main-area" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-bottom: 1.5rem;
}

.grid-nav {
  grid-area: navigation;
}

.grid-main {
  grid-area: main-area;
  display: flex;
  flex-direction: column;
}

.grid-footer {
  grid-area: footer;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.content-box--main {
  height: 100%;
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.content-box--main .content-box-inner {
  max-width: 90%;
  margin: 0 auto;
}
.content-box--sidebar-widget-right {
  padding: 1.25rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.content-box--footer-bar {
  position: fixed;
}
.content-box--footer-bar .footer-bar__inner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.4rem 1rem;
  background-color: #ccc;
  border-top: 1px solid #bbb;
}
.content-box--footer-bar .footer-bar__inner .element-left,
.content-box--footer-bar .footer-bar__inner .element-right {
  border-right: 2px solid black;
  padding-right: 5px;
}
.content-box--footer-bar .footer-bar__inner .element-right {
  border-left: 2px solid black;
  padding-left: 5px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.wbx-bg-dark {
  background-color: rgba(51, 51, 54, 0.95);
}
@media (min-width: 992px) {
  .wbx-bg-dark {
    background-color: rgba(51, 51, 54, 0.5);
  }
}

.wbx-nav-login {
  margin-left: 0;
}
@media (min-width: 1400px) {
  .wbx-nav-login {
    margin-left: auto;
  }
}

.wbx-nav-link-centered {
  word-spacing: 0.25rem;
  padding-left: 1.5rem;
}
@media (min-width: 576px) {
  .wbx-nav-link-centered .wbx-no-wrap {
    white-space: nowrap;
  }
}
@media (min-width: 992px) {
  .wbx-nav-link-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    word-spacing: 0.15rem;
    text-align: center;
  }
}

.wbx-navbar-mobil {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.wbx-navbar-mobil.show {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 992px) {
  .wbx-navbar-mobil {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}

.coin-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.coin-card__image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.coin-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  flex-grow: 1;
}
.coin-card__title {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  text-align: left;
}
.coin-card__text {
  flex-grow: 1;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  text-align: left;
}
.coin-card__btn-outline {
  color: #0d6efd;
  border: 1px solid #0d6efd;
  background-color: #ffffff;
  transition: all 0.2s ease;
}
.coin-card__btn-outline:hover {
  color: #ffffff;
  background-color: #0d6efd;
  text-decoration: none;
}

.grid-aside-right {
  display: none;
}
@media (min-width: 2000px) {
  .grid-aside-right {
    top: 130px;
    right: calc((100% - 1980px) / 2);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }
}

/*# sourceMappingURL=main.css.map */
